footer{
    background-color: #1E1E1E;
    color:white;
    margin-top:100px;
    p{
        margin: 40px 0 40px 0;
        text-align: center;
        a{
            color: orange;
            text-decoration: none;
            &:hover{
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

